*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
}
p{
}
@font-face{
    font-family: "myfont";
    src: url("Minecrafter.Alt.ttf");
}
.rec{
    background: #ffffff;
    width: 100%;
    margin: 20px auto;
    font: 20px myfont;
    text-align: center;
}
.menu{
    background: #000000;
    padding: 25px 25px;
    text-align: center;
}
.menu nav ul li{
    display: inline-block;
    font: 40px myfont;
}
.menu nav ul li a{
    color: #ffffffff;
    text-decoration: none;
    padding: 25px 25px;
}
.menu nav ul li a:hover{
    color: #000000;
    background: #ffffffff;
    padding: 25px 25px;
}
.mein{
    width: 100%;

    margin: 0 auto;
    
}
.mein div{
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    
}
img{
    display: flex;
    float: left;
    margin: 40px 40px;
    text-align: center;
    align-items: center;
    align-content: center;
}
img{
    
    transition: -webkit-transform 1s ease-in-out 0.5s;
}
img:hover{
    transform: scale(1.2)
}

